<!doctype html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>1</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link href="css/styles.css" rel="stylesheet">
  <script src="js/vue.js"></script>
</head>

<body>
  <div class="wrapper">
    <div class="sample">
      <form>
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
        <div>
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" v-model="info.name">
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" v-model="info.phone">
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" v-model="info.email">
          </div>
          <div class="form-group">
            <label>name</label>
            <input type="text" class="form-control" v-model="info.name">
          </div>
          <button class="btn btn-primary">
            Send Data
          </button>
      </form>
      <table class="table table-bordered">
        <tr>
          <td>{{ info.name }}</td>
          <td>{{ info.phone }}</td>
          <td>{{ info.email }}</td>
        </tr>
      </table>
      </div>
    </div>
    <script>
    new Vue({
      el: '.sample',
      data: {
        info: [{
            name: 'Name',
            value: '',
            pattern: /^[a-zA-Z ]{2,30}$/
          },
          {
            name: 'Phone',
            value: '',
            pattern: /^[0-9]{7,14}$/
          },
          {
            name: 'Email',
            value: '',
            pattern: /.+/
          },
          {
            name: 'Some Field 1',
            value: '',
            pattern: /.+/
          },
          {
            name: 'Some Field 2',
            value: '',
            pattern: /.+/
          }
        ]
      }
    });
    </script>
</body>

</html>