<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <script src="js/vue.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="sample">
            <input type="text" v-model="name">
            <hr>
            <h2 v-if='show'>Hello, {{ name }}</h2>
            <template v-else>
                <p>Name is hidden</p>                
            </template>
            <button class="btn btn-success" v-on:click='show = !show'>Togle name</button>
            <button class="btn btn-primary" v-on:click='toggleShow'>Togle name 2</button>
        </div>
    </div>
    <script>
        let sample = new Vue({
            el: '.sample',
            data: {
                name: '',
                show: true
            },
            methods: {
                toggleShow() {
                    this.show = !this.show
                }
            }
        });
    </script>
</body>
</html>
